<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}动漫主页{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <img src="{{ url_for('static', filename='7.jpg') }}" alt="背景", class="background-image">
</head>
<body>
    <header>
        <div>
            <img src="{{ url_for('static', filename='10.jpg') }}" alt="图" class="img-style">
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">首页</a></li>
                {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('login') }}">登录</a></li>
                    <li><a href="{{ url_for('register') }}">注册</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 zmqaa</p>
    </footer>
</body>
</html>
