{% extends "base.html" %}

{% block title %}我的博客 - 首页{% endblock %}

{% block content %}
    <div class="article-list">

        {% if current_user.is_authenticated %}
            <p class="welcome-message">欢迎, <strong>{{ current_user.username }}</strong>!</p>
            <a href="{{ url_for('logout') }}" class="btn btn-secondary">登出</a>
            <a href="{{ url_for('create') }}" class="btn btn-primary">新建</a>
        {% endif %}

        <ul class="post-list">
            {% for post in posts %}
                <li class="post-item">
                    <h3><a style="color: black" href="{{ url_for('post_detail', post_id=post.id) }}">{{ post.title }}</a></h3>
                    <p style="color: darkslategrey">{{ post.content }}</p>
                    <small style="background-color: rgba(250, 250, 250, 0.1)">作者: {{ post.author.username }} | 发布于: {{ post.create_time }}</small>

                    {% if current_user.is_authenticated and current_user.id == post.author_id %}
                        <div class="actions">
                            <a href="{{ url_for('edit', post_id=post.id) }}" class="btn btn-warning">编辑</a>
                            <form action="{{ url_for('delete', post_id=post.id) }}" method="POST">
                                <button type="submit" onclick="return confirm('确定要删除此文章吗？');">删除</button>
                            </form>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
